process {
    withName: 'SORT' {
        ext.args = { "${params.sort}" }
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: 'YAHS_JUICERPRE' {
        ext.args = { "${params.yahs_juicerpre}" }
    }

    withName: 'JUICER_INDEXBYCHR' {
        ext.prefix = { "${meta.id}.index" }
    }
}
