process {
    withName: 'SORT' {
        ext.args = params.sort
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: 'YAHS_JUICERPRE' {
        ext.args = params.juicerpre
    }

    withName: 'JUICERTOOLS_PRE' {
        ext.args = params.juicertoolspre
    }

    withName: 'CUSTOM_ASSEMBLY2BEDPE' {
        ext.args = params.assembly2bedpe
    }
    withName: 'JUICER_INDEXBYCHR' {
        ext.prefix = { "${meta.id}.index" }
    }
}
